* {
    font-family: Inter, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(166,252,64);
    background: linear-gradient(0deg, rgba(166,252,64,1) 0%, rgba(255,255,255,1) 39%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 0;
}

.about-me {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me__logo {
    width: 30px;
    height: 30px;
}


.main-stuff {
    max-width: 500px;
}

@media only screen and (min-width: 768px) {
    main {
        flex-direction: row;
    }
}